
/* ----------- Reset Code ---------------

  http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------- End of reset code -------------*/

body {
	font-family: 'Black Han Sans', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(leaves.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#playfield {
  width: 300px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
	margin-top: 115px;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
  box-sizing: border-box;
  width: 33%;
  height: 33%; /* Gör så att boxarna inte växer när man infogar ett X eller en cirkel */
}

#box3, #box6, #box9 {
	border-left: 3px solid white;
}

#box1, #box4, #box7 {
	border-right: 3px solid white;
}

#box1, #box2, #box3, #box4, #box5, #box6 {
	border-bottom: 3px solid white;
}

i {
	color: white;
}

p {
	font-size: 19px;
	margin: 10px;
	color: white;
}

button {
	margin: 10px;
	background-color: white;
	width: 113px;
  height: 44px;
  border-radius: 14px;
	opacity: 0.75;
}
